@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --general-color: rgb(13, 17, 23);
    --cool-color: #0088a9;
    --dark-grey: #111;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #fbfbfb;
}
body {
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-part {
    height: 100vh;
}
#header-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
    background-color: #fff;
    align-items: center;
}
#header-nav .navbar-links {
    display: inline;
    font-weight: 450;
}
#header-nav a {
    color: black;
    padding: 0.25rem 0.7rem;
    border-radius: 50px;
    text-align: center;
}
#header-nav a:hover {
    color: var(--cool-color);
    transition: all 0.5s ease-out;
}
#header-nav .active {
    color: var(--cool-color);
}
#header-nav .last {
    background: var(--cool-color);
    color: white;
}
#header-nav .last:hover {
    background: transparent;
    color: var(--dark-grey);
    border: var(--cool-color) solid 1px;
    transition: all 0.5s ease-out;
}
.logo {
    width: 6rem;
}
.hamburger-menu .bar {
    width: 26px;
    height: 3px;
    border-radius: 5px;
    margin: 5px 2rem;
    background-color: var(--dark-grey);
}
.top-body{
    background-color: var(--general-color);
    padding: 3.5rem;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 1rem;
    color: #fff;
    height: calc(100vh - 15rem);
    overflow: hidden;
}
.middle {
    position: relative;
}
.article h2 {
    margin: 1rem 0;
}
.top-body .my-svg img {
    height: 50vh;
    width: 50vw;
}
.middle {
    padding: 1.5rem 2rem;
    text-align: center;
    grid-column: 1/3;
}
.bolder {
    font-size: 1.5em;
    color: #cae8ff;
    color: #d29922;
}
.bottom-section {
    padding: 3.5rem 0;
    padding-top: 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1.5fr 2fr 1fr;
    font-family: 'Source Sans Pro', sans-serif;
}
.team {
    position: relative;
    padding: 0 0.5rem 2rem 0.5rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    background-color: #eee;
    background: url(../images/t_46.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 30rem;
    text-align: center;
    place-items: center;
}
.team h3 {
    text-align: center;
    margin-top: 1rem;
}
figure {
    height: 16rem;
    width: 13rem;
    text-align: center;
    margin-top: 6rem;
    place-items: center;
    animation-name: change;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}
.team img {
    width: 200px;
    height: 200px;
    clip-path: circle();
}
.team figcaption {
    background-color: #f0f0f0f5;
    padding: 1rem;
    font-weight: 600; 
}
@keyframes change {
    0% { opacity: 1; }
    17% { opacity: 1; }
    25% { opacity: 0; }
    92% { opacity: 0; }
    100% { opacity: 1; }
}
.team figure:nth-of-type(1) {
    animation-delay: 0s;
}
.team figure:nth-of-type(2) {
    animation-delay: 5s;
}
.team figure:nth-of-type(3) {
    animation-delay: 10s;
}
.team figure:nth-of-type(4) {
    animation-delay: 15s;
}
.posts h3 {
    padding: 0 2rem 2rem 2rem;
    text-align: center;
}
.posts ul {
    display: grid;
    grid-gap: 1rem;
}
.posts ul li {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    background-color: #aff5b4;
    background-color: var(--cool-color);
    color: var(--dark-grey);   
    border-radius: 0.5rem;
    overflow: hidden;
    color: hsl(0, 0%, 95%);
}
.topic {
    display: block;
    text-align: center;
    background-color: #002a36;
    font-weight: 550;
}
.posts ul li p {
    margin: 1rem 1.5rem;
}
aside {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem;
    background-color: #eee;
    border-color: var(--dark-grey);
    border-radius: 10px;
    box-shadow: -5px 10px 8px rgba(220, 220, 220) ;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1.3rem;
    margin-bottom: 0;
}
aside h3 {
    padding: 0.5rem;
    padding-bottom: 1rem;
}
aside ul li {
    padding: 0.5rem;
    border-bottom: var(--cool-color) solid 2px;
}
footer {
    color: #f0f0f0f5;
    background-color: var(--general-color);
    padding: 2rem 3.5rem 3.5rem 3.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}
.footer-headers {
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}
.footerr {
    flex: 1; 
    margin: 2rem;
    font-weight: 400;
    flex-basis: 33.3%;
}
.contact {
    margin: 1rem auto;
}
.contact i {
    font-size: 1.6rem;
    margin: 0 0.5rem;
}
.contact i:first-child {
    margin-left: 0;
}
.f-icons {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.counselling {
    margin: 1rem 0 0.5rem;
}
.reach-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reach-us .numbers {
    display: flex;
}
.reach-us i {
    font-size: 1rem;
    align-self: center;
}
.copyright {
    text-align: center;
    margin-top: 2rem;
    grid-column: 1/4;   
}
.inspaiah {
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 767px) {
    #header-nav .active, #header-nav .last {
        color: rgba(255, 255, 255, 0.6);
        background: none;
    }
    #header-nav a:hover, #header-nav .last:hover {
        color: rgb(255, 255, 255);
        border: none;
    }   
    #header-nav {
        position: relative;
        padding: 0;
    }
    #header-nav .navbar-links {
        background: black;
        position: absolute;
        display: grid;
        clip-path: circle(20px at 92% -10%);
        -webkit-clip-path: circle(20px at 92% -10%);
        width: 100%;
        top: 4rem;
        transition: 1.5s ease-in-out;
        will-change: transform;
        padding: 1rem 0;
        z-index: 2;
    }
    #header-nav .navbar-links.display {
        clip-path: circle(810px at 92% -10%);
        -webkit-clip-path: circle(810px at 92% -10%);
    }
    .top-body {
        transition: opacity 1.5s ease-in-out;
    }
    .top-body.blur {
        opacity: 0.5;
    }
    #header-nav a {
        color: rgba(255, 255, 255, 0.6);
        margin: auto;
        padding: 0.7rem 0; 
        margin-bottom: none;
        text-align: center;
        transition: background, color 0.3s ease-in-out;
        width: 100%;
        border-radius: 0;
    }
    .logo {
        padding: 0.5rem 2rem;
        width: 3rem;
    }
    .hamburger-menu .bar {
        display: block;
        color: var(--dark-grey);
        cursor: pointer;
        transition: transform 0.3s ease-out;
    }
    .hamburger-menu.cancel .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.cancel .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.cancel .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
    .bottom-section {
        grid-template-columns: 2fr 1fr;
        padding: 1rem;
    }
    .team {
        grid-column: 1/3;
    }
    .team figure {
        height: 25rem;
        width: 20rem;
    }
    .team img {
        width: 300px;
        height: 300px;
    }
    aside {
        margin: 0;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .footerr {
        margin: 1.5rem 0;
    }
}   

@media screen and (max-width:500px) {
    .top-body {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        place-items: center;
        justify-content: start;
        height: unset;
    }
    #header-nav a, #header-nav .active, #header-nav .last {
        color: rgb(255, 255, 255);
    }
    #header-nav .navbar-links {
        transition: 1s ease-in-out;
    }
    #header-nav .navbar-links.display {
        clip-path: circle(810px at 92% -10%);
        -webkit-clip-path: circle(510px at 92% -10%);
    }
    .top-body .my-svg img {
        width: 80vw;
    }
    footer {
        padding: 2rem;
    }
    .footerr {
        margin: 1.5rem 0;
    }
}